html body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FEE9E1;
}

.content {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    scroll-snap-align: start;
    height: 100vh;
}

.contentContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 20px;
}
.traitsContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*padding-bottom: 30px;*/
}
.whoAmI {
    font-family: 'Josefin Sans', sans-serif;
    color: #446670;
    font-size: 6vh;
    align-self: flex-start;
    padding-bottom: 10px;
    margin-bottom: 0;
    /*animation: fadeInUp 1s;*/
}

.traitsList {
    font-family: 'Playfair Display', sans-serif;
    font-size: 5vh;
    font-weight: bold;
    align-self: flex-start;
    padding-left: 70px;
    padding-bottom: 0;
    color: #866258;
    list-style-image: url('../images/bulletPoint_16x16.png');
}
.traits {
    padding-bottom: 20px;
}
/*
#trait1 {
    animation: fadeInUpTrait1 2s;
}

#trait2 {
    animation: fadeInUpTrait2 3.2s;
}

#trait3 {
    animation: fadeInUpTrait3 4.4s;
}
*/
#trait4 {
   /* animation: fadeInUpTrait4 5.6s;*/
    padding-bottom: 0;
    margin-bottom: 0;
}

.headshot {
    width: 50vh;
    padding-left: 20px;
    padding-bottom: 0;
    margin:0;
    max-height: 600px;
    max-width: 600px;
    /*animation: fadeInRight 1s;*/
}

.biotext {
    width: 90%;
    padding: 20px;
    margin: 0;
    font-family: 'Merriweather', sans-serif;
    font-size: 13pt;
    background-color: #f7e2c9;
    border-radius: 20px;
    animation: fadeInLeft 1s;
}
/*
@keyframes fadeInUp {
    0% {opacity: 0;
        transform: translate(0, 20px);}
    100% {opacity: 1;
        transform: translate(0, 0px);}
}

@keyframes fadeInRight {
    0% {opacity: 0;
        transform: translate(20px, 0);}
    100% {opacity: 1;
        transform: translate(0px, 0);}
}

@keyframes fadeInLeft {
    0% {opacity: 0;
        transform: translate(-20px, 0);}
    100% { opacity: 1;
        transform: translate(0px, 0);}
}

@keyframes fadeInUpTrait1 {
    0% {opacity: 0;
        transform: translate(0, 20px);}
    60% {opacity: 0;
        transform: translate(0, 0px);}
    100% {opacity: 1;
        transform: translate(0, 0px);}
}

@keyframes fadeInUpTrait2 {
    0% {opacity: 0;
        transform: translate(0, 20px);}
    60% {opacity: 0;
        transform: translate(0, 0px);}
    100% {opacity: 1;
        transform: translate(0, 0px);}
}

@keyframes fadeInUpTrait3 {
    0% {opacity: 0;
        transform: translate(0, 20px);}
    60% {opacity: 0;
        transform: translate(0, 0px);}
    100% {opacity: 1;
        transform: translate(0, 0px);}
}

@keyframes fadeInUpTrait4 {
    0% {opacity: 0;
        transform: translate(0, 20px);}
    60% {opacity: 0;
        transform: translate(0, 0px);}
    100% {opacity: 1;
        transform: translate(0, 0px);}
}

*/

.scrollArrow1 {
    width: 50px;
    /*position: relative;
    bottom: 25px;*/
    /*animation: scrollArrow 6s, scrollArrow1 4s;
    animation-delay: 0s, 3s;
    animation-iteration-count: 1, infinite;*/
}

.scrollArrow2 {
    padding-bottom: 30px;
    width: 50px;
    /*position: relative;
    bottom: 25px;*/
    /*animation: scrollArrow 6s, scrollArrow2 4s;
    animation-delay: 0s, 3s;
    animation-iteration-count: 1, infinite;*/
}

@keyframes scrollArrow {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes scrollArrow1 {
    0% {transform: translate(0, 0);}
    60% {transform: translate(0, 0);}
    75% {transform: translate(0, 10px);}
    95% {transform: translate(0, 0);}
}

@keyframes scrollArrow2 {
    0% {transform: translateY(0);}
    60% { transform: translateY(0);}
    65% {transform: translateY(0);}
    80% {transform: translateY(10px);}
    100% {transform: translateY(0);}
}

#swirl {
    /*bottom: 5vh;*/
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    top: -200px;
    z-index: -1;
}

.backgroundInfoContainer {
    margin: auto;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whereImfrom {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoGallery {
    width: 40%;
}

#beachPhoto {
    width: 40%;
    position: relative;
    top: 10vh;
    left: -5vw;
    
    z-index: 1;

}

.beachPhoto2 {
    width: 40%;
    position: relative;
    left: 22vw;
    
}

.soundPhoto{
    width: 40%;
    
    position: relative;
    
}

.photo{
    margin: 0;
    padding:0;
}

.animatedPhoto {
    animation: swing 3s;
    
}

@keyframes swing {
    0% {transform: rotate(15deg);}
    15% {transform: rotate(-15deg);}
    25% {transform: rotate(6deg);}
    33% {transform: rotate(-6deg);}
    40% {transform: rotate(2deg);}
    45% {transform: rotate(-2deg);}
    50% {transform: rotate(1deg);}
    55% {transform: rotate(-1deg);}
    60% {transform: rotate(.5deg);}
    65% {transform: rotate(-.5deg);}
    70% {transform: rotate(0deg);}
}

#whereImFromTitle{
    font-family: 'Josefin Sans', sans-serif;
    color:#446670;
    font-size: 7vh;
    padding-left: 20px;
   
}

#outerBanks{
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    color: #866258;
    font-size: 7vh;
    padding-left: 20px;
    /*flex-grow: 2;*/
}

.favoriteHobbies {
    padding-top: 30pt;
    font-family: 'Josefin Sans', sans-serif;
    color:#446670;
    font-size: 30pt;
}

.hobbiesList {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', sans-serif;
    color:#866258;
    font-size: 15pt;
    flex-wrap: wrap;
    
}

.hobby {
    padding: 10pt;
    margin: 10pt;
    font-weight: bold;
    background-color: #f7e2c9;
    border-radius: 10pt;
    height: 80px;
    width:110px;
    text-align: center;
}

.carolina {
    color: #7BAFD4;
}

.likeMovies {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20pt;
    color:#866258;
    margin-top: 100px;
    margin-bottom: 30px;
}

.secondScrollArrow1 {
    width: 50px;
    /*position: relative;
    bottom: 25px;*/
}

.secondScrollArrow2 {
    padding-bottom: 30px;
    width: 50px;
    /*position: relative;
    bottom: 25px;*/
    
}

.secondScroll1Active {
    animation: scrollArrow1 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.secondScroll2Active {
    animation: scrollArrow2 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.favoriteMovies {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30pt;
    color:#446670;
    padding-top: 20px;
    
}

.showSelections{
    font-family: 'Playfair Display', sans-serif;
    font-size: 15pt;
    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
    flex-wrap: wrap;
    padding-bottom: 60px;

}

.selection {
    padding: 10pt;
    display: block;
    margin: auto;
    text-align: center;
    
    /*
    font-weight: bold;
    background-color: #f7e2c9;
    border-radius: 10pt;
    height: 180px;
    width:110px;
    text-align: center;
    color:#866258
    */
}

.lotr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
}

.appearOnScroll {
    position: relative;
    transform: translate(0, 50px);
    opacity: 0;
    transition: 1s;
}

.appearOnScroll.active {
    transform: translate(0, 0);
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    #swirl {
        display: none;
    }
}

@media screen and (min-width: 1950px) {
    #swirl {
        max-height: 762.9px;
    }
}

@media screen and (max-height: 1080px) {
    #swirl { 
        max-height: 708.37px;
    }
}