html body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FEE9E1;
}

.content {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    scroll-snap-align: start;
    height: 100vh;
}

.lastSectionFooter {
    overflow: hidden;
}

.contentContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 20px;
    height: 90%;
}
.traitsContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
}
.whoAmI {
    font-family: 'Josefin Sans', sans-serif;
    color: #446670;
    font-size: 6vh;
    align-self: flex-start;
    padding-bottom: 10px;
    margin-bottom: 0;
    /*animation: fadeInUp 1s;*/
}

.traitsList {
    font-family: 'Playfair Display', sans-serif;
    font-size: 5vh;
    font-weight: bold;
    align-self: flex-start;
    padding-left: 70px;
    padding-bottom: 0;
    color: #866258;
    list-style-image: url('../images/bulletPoint_16x16.png');
}

.traits {
    padding-bottom: 20px;
}

#trait4 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.headshot {
    width: 50vh;
    padding-left: 20px;
    padding-bottom: 0;
    margin:0;
    max-height: 600px;
    max-width: 600px;
}

.centeringArrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
}

.centeringArrowsHobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 63px;
}

.topScrollArrow {
    width: 50px;
}

.bottomScrollArrow {
    width: 50px;
    padding-bottom: 30px;
}

#swirl {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    top: -30vh;
    z-index: -1;
}

.backgroundInfoContainer {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.whereImfrom {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoGallery {
    width: 40%;
}

#beachPhoto {
    width: 40%;
    position: relative;
    top: 10vh;
    left: -5vw;
    z-index: 1;
}

.beachPhoto2 {
    width: 40%;
    position: relative;
    left: 22vw; 
}

.soundPhoto{
    width: 40%;
    position: relative;
}

.photo{
    margin: 0;
    padding:0;
}

.whereImFromRightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    margin: 5px;
    padding: 0;
}

.whereImFromTitle{
    font-family: 'Josefin Sans', sans-serif;
    color:#446670;
    font-size: 7vh;
    padding: 0;
    margin: 0;
}

.outerBanks{
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    color: #866258;
    font-size: 7vh;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
}

.biotext {
    width: 90%;
    padding: 20px;
    margin: 0;
    font-family: 'Merriweather', sans-serif;
    color: #634942;
    font-size: 13pt;
    background-color: #f7e2c9;
    box-shadow: 3px 3px 6px #634942;
    border-radius: 10pt;
}

.indent {
    text-indent: 30pt;
    margin: 0;
    padding: 5px;
}

.favoriteHobbies {
    margin: 20px;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color:#446670;
    font-size: 6vh;
}

.hobbiesList {
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', sans-serif;
    color:#866258;
    font-size: 3vh;
    flex-wrap: wrap;
    
}

.centeringHobby {
    height: 15vh;
    width: 12vw;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7e2c9;
    box-shadow: 3px 3px 6px #634942;
    border-radius: 10pt;
    padding: 10px;
    margin: 10px;
}

.hobby {
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.carolina {
    color: #7BAFD4;
}

.likeMovies {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vh;
    color:#866258;
    /* margin-top: 60px;
    margin-bottom: 30px; */
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    /* position: relative;
    bottom: 20px; */
}

.favoriteMovies {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6vh;
    color:#446670;
    padding-top: 20px;  
}

.showSelections{
    font-family: 'Playfair Display', sans-serif;
    font-size: 3vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    padding-bottom: 60px;

}

.selection {
    padding: 10pt;
    display: block;
    margin: auto;
    text-align: center;
    width: 10vw;
    max-width: 200px;
}

.lotr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15vw;
}

.appearOnScroll {
    position: relative;
    transform: translate(0, 50px);
    opacity: 0;
    transition: 1s;
}

.appearOnScroll.active {
    transform: translate(0, 0);
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    #swirl {
        display: none;
    }
}

@media screen and (min-width: 1950px) {
    #swirl {
        max-height: 762.9px;
    }
}

@media screen and (max-height: 1080px) {
    #swirl { 
        max-height: 708.37px;
    }
}