html body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FEE9E1;
}

.content {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    scroll-snap-align: start;
    height: 100vh;
}

.backgroundSkills {
    display: flex;
    justify-content: center;
    /*THIS IS WHERE TO ADJUST IF I WANT THINGS CLOSER TO NAVIGATION*/
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100vh;
}

.courseList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  
    
}

.coursesSuchAs {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 5vh;
    color: #446670;
    margin-left: 10px;
    
}

.class {
    background-color: #f7e2c9;
    border-radius: 10px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 3.2vh;
    color: #866258;
    box-shadow: -3px 3px 6px #634942;
    padding: 10px;
    margin: 10px;
}

.skillList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
    max-width: 50%;
   
}

.ledMeToHave {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 5vh;
    color: #446670;
    margin-left: 10px;
}

.skillContainer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.skillContainer2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* DONE IN ORDER TO HAVE ALL SKILLS THE SAME WIDTH
    justify-content: center;
    align-items: flex-start;*/
}

.skill {
    background-color: #f7e2c9;
    border-radius: 10px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 3.2vh;
    color: #866258;
    box-shadow: 3px 3px 6px #634942;
    padding: 10px;
    margin: 10px;
}

.manyMore {
    background-color:#866258;
    color:#f7e2c9;
}

.arrowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -150px;
}

.scrollArrow1 {
    width: 50px;
    animation: scrollArrow 15s, scrollArrow1 4s;
    animation-delay: 0s, 10s;
    animation-iteration-count: 1, infinite;
}

.scrollArrow2 {
    width: 50px;
    bottom: 140px;
    animation: scrollArrow 15s, scrollArrow2 4s;
    animation-delay: 0s, 10s;
    animation-iteration-count: 1, infinite;
}

@keyframes scrollArrow {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes scrollArrow1 {
    0% {transform: translate(0, 0);}
    60% {transform: translate(0, 0);}
    75% {transform: translate(0, 10px);}
    95% {transform: translate(0, 0);}
}

@keyframes scrollArrow2 {
    0% {transform: translateY(0);}
    60% { transform: translateY(0);}
    65% {transform: translateY(0);}
    80% {transform: translateY(10px);}
    100% {transform: translateY(0);}
}

.pastProjects {
    background-color:#FEE9E1;
    height: 100vh;
    margin: 0;
   padding: 0;
}

.pastProjectsTitle {
    color:#FEE9E1;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6vh;
    text-align: center;
    padding-top: 30px;
    margin: 10px;
    opacity: 0;
    
}

.projectsDesktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding:0;
}

.projectsMobile {
    padding: 10px;
    display: none;
}

.collapseInstructions {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #FEE9E1;
    font-size: 3vh;
}

.collapseMenu {
    width: 100%;
    border: none;
    margin: 0;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vh;
    color: #866258;
    background-color: #FEE9E1;
    cursor: pointer;
    height: 6vh;
}

.collapseMenu:hover {
    background-color:#f7e2c9;
}

.collapseActive {
    background-color:#f7e2c9;
}

.collapseContent {
    background-color: #f7e2c9;
    width:100%;
    font-family: 'Playfair Display', sans-serif;
    color: #866258;
    display: none;
    overflow: hidden;
}

.collapseContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.collapseSlideImage {
    width: 50%;
}

.slideImage{
    width: 100%;
}

.websiteTitle {
    font-weight: 700;
}

.website {
    background-color:#f7e2c9;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.5vh;
    color: #866258;
}

.lmmTitle {
    font-weight: 700;
}

.lmm {
    background-color:#f7e2c9;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.5vh;
    color:#866258;
}

.dorTitle {
    font-weight: 700;
}

.dor {
    background-color:#f7e2c9;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2.5vh;
    color: #866258;
}

.work {
    background-color:#866258;
    height: 100vh;
}

.pastWork{
    font-family: 'Josefin Sans', sans-serif;
    color: #FEE9E1;
    font-size: 6vh;
    padding: 30px;
    margin: 0;
}

.business{
    font-family: 'Playfair Display', sans-serif;
    color: #FEE9E1;
    font-weight: 700;
    font-size: 3vh;
    padding-left: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.jobTitle{
    font-family: 'Playfair Display', sans-serif;
    color: #FEE9E1;
    font-size: 3vh;
    padding-left: 30px;
    padding-top: 0;
    margin-top: 0;
}

.descContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.kdhSeal {
    width: 15vw;
    padding-left: 30px;
}

.desc {
    font-family: 'Playfair Display', sans-serif;
    color: #FEE9E1;
    font-size: 2.5vh;
    padding-left: 10px;
}

@media screen and (max-width: 1200px) {
    .coursesSuchAs  {
        font-size: 5vw; 
    }
    .ledMeToHave {
        font-size: 5vw; 
    }
    
    .class  {
        font-size: 3.2vw;
    }

    .skill {
        font-size: 3.2vw;
    }
    
    .projectsMobile {
        display: block;
    }
    .projectsDesktop {
        display: none;
    }
    .pastWork {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
}

@media screen and (max-width:400px) {
    .desc {
        font-size: 4vw;
    }
}